.foot-bg {
	width: 100%;
	background: #131519;
	.foot {
		max-width: 1200px;
		margin: 0 auto;
		height: 300px;
		color: #fff;
		.foot-left {
			float: left;
			width: 20%;
			margin-top: 60px;
			@media screen and (max-width: 768px) {
				margin-top: 20px;
				width: 50%;
			}
			img {
				display: block;
			}
		}
		.ewm {
			float: left;
			width: 50%;
			text-align: center;
			padding-top: 10px;
			img {
				vertical-align: middle;
			}
		}
		.foot-right {
			float: left;
			width: 80%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			-webkit-box-pack: justify;
			   -moz-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			.foot-list {
				margin-top: 120px;
				@media screen and (max-width: 768px) {
					margin-top: 20px;
					width: 20%;
					text-align: center;
					&:nth-of-type(3){
						width: 55%;
						text-align: left;
					}
					&:nth-of-type(4){
						display: none;
					}
				}
				li {
					cursor: pointer;
					color: #999;
					line-height: 30px;
					a {
						color: #999;
					}
					.fa {
						width: 20px;
						text-align: center;	
						margin-right: 10px; 	
					}
				}
				.foot-list-title {
					cursor: default;
					font-weight: bold;
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 20px;
					color: #fff;
				}
			}
			@media screen and (max-width: 768px) {
				clear: both;
				width: 100%;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
			    justify-content: space-around;

				/* display: block;*/
			}
		}

	}
	.copyRight {
		width: 100%;
		height: 100px;
		color: #666;
		background: #000;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
}