.method {
	width: 100%;
	position: relative;
	.method_lamp {
		width: 100%;
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		.method_title {
			position: absolute;
			left: 12%;
			top: 0;
			color: #fff;
			z-index: 99;
			height: 100%;
			overflow: hidden;
			padding-top: 5%;
			box-sizing: border-box;
			
			p {
				font-size: 22px;
				line-height: 2;
			}
			button {
				width: 200px;
				height: 50px;
				margin-top: 5%;
				background: transparent;
				border: 1px solid #fff;
				text-align: center;
				font-size: 17px;
				line-height: 50px;
				color: #fff;
				-moz-border-radius: 5px;
				     border-radius: 5px;
			}
			@media screen and (max-width: 768px) {
				padding-top: 8%;
				left: 0;
				width: 100%;
				padding-left: 20px;
				box-sizing: border-box;
				h1{
					font-size: 24px;
				}
				p {
					font-size: 14px;
				}
				button {
					width: 120px;
					height: 30px;
					font-size: 14px;
					line-height: 30px;

				}
			}
		}
	}
	.method_nav {
		/* max-width: 1200px;*/
		/* margin: 0 auto;*/
		.el-tabs__header {
			margin-bottom: 0;
		}
		.el-tabs__nav-scroll {
			max-width: 1200px;
			margin: 0 auto;
		}		
	}
}