.sxl {
	width: 100%;
	h2 {
		font-size: 34px;
		line-height: 98px;
		text-align: center;
	}

	.sxl_contract {
		max-width: 1200px;
		margin: auto;
		padding-top: 28px;
		.contract_content {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			   -moz-box-orient: horizontal;
			   -moz-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			-webkit-box-pack: justify;
			   -moz-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			.content_pic {
				width: 50%;
				text-align: center;
				img {
					display: block;
					width: 65%;
					margin: 0 auto;
				}
			}
			.content {
				width: 50%;
				padding: 0 2%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				   -moz-box-orient: vertical;
				   -moz-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				   -moz-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				.content_t {
					font-size: 17px;
					line-height: 31px;
					font-weight: bolder;
				}
				.content_b {
					line-height: 24px;
					color: #999;
					margin-top: 7px;
				}
			}
		}
		@media screen and (max-width: 768px) {
			padding-top: 0;
			.contract_content {
				display: block;
				.content_pic {
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
				}
				.content {
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
				}
			}
		}
	}
	.sxl_management_bg {
		width: 100%;
		background: #f5f6f8;
		.sxl_management {
			max-width: 1200px;
			margin: 0 auto;
			padding-top: 28px;
			.management_content {
				margin-top: 30px;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				   -moz-box-orient: horizontal;
				   -moz-box-direction: normal;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
				-webkit-box-pack: justify;
				   -moz-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				.content_pic {
					width: 50%;
					text-align: center;
					img {
						display: block;
						width: 65%;
						margin: 0 auto;
					}
				}
				.content {
					width: 50%;
					padding: 0 2%;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					   -moz-box-orient: vertical;
					   -moz-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-box-pack: center;
					   -moz-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					.content_t {
						font-size: 17px;
						line-height: 31px;
						font-weight: bolder;
					}
					.content_b {
						line-height: 24px;
						color: #999;
						margin-top: 7px;
					}
				}
			}
			@media screen and (max-width: 768px) {
				padding-top: 0;
				.management_content {
					margin-top: 0;
					display: block;
					.content_pic {
						width: 100%;
						padding: 10px;
						box-sizing: border-box;
					}
					.content {
						width: 100%;
						padding: 10px;
						box-sizing: border-box;
					}
				}
			}
		}
	}
	.sxl_protect {
		max-width: 1200px;
		margin: auto;
		padding-top: 28px;
		padding-bottom: 110px;
		.protect_content {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			   -moz-box-orient: horizontal;
			   -moz-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			-webkit-box-pack: justify;
			   -moz-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			.content_pic {
				width: 50%;
				text-align: center;
				max-width: 375px;
				img {
					display: block;
					width: 100%;
					margin: 0 auto;
				}
			}
			.content {
				width: 50%;
				padding: 0 2%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				   -moz-box-orient: vertical;
				   -moz-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				   -moz-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				.content_t {
					font-size: 17px;
					line-height: 31px;
					font-weight: bolder;
				}
				.content_b {
					line-height: 24px;
					color: #999;
					margin-top: 7px;
				}
			}
		}
		@media screen and (max-width: 768px) {
			padding-top: 0;
			padding-bottom: 0;

			.protect_content {
				display: block;
				.content_pic {
					width: 80%;
					margin: auto;
					display: block;
					padding: 10px;
					box-sizing: border-box;
				}
				.content {
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
				}
			}
		}

	}
	.sxl_main_bg {
		width: 100%;
		background: #f5f6f8;
		.sxl_main {
			max-width: 1200px;
			margin: 0 auto;
			padding-top: 28px;
			padding-bottom: 110px;
			.main_content {
				margin-top: 45px;
				img {
					display: block;
					width: 100%;
				}
			}
			@media screen and (max-width: 768px) {
				padding-top: 0;
				padding-bottom: 20px;
				.main_content {
					margin-top: 20px;
					img {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	.sxl_overview {
		max-width: 1200px;
		margin: auto;
		padding-top: 28px;
		padding-bottom: 110px;
		p {
			color: #9d9fa7;
			text-align: center;
		}
		.overview_content {
			margin-top: 70px;
			img {
				display: block;
				width: 90%;
				margin: 0 auto;
			}
		}
		@media screen and (max-width: 768px) {
			padding-top: 0;
			padding-bottom: 20px;
			.overview_content {
				margin-top: 20px;
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
}
