.index {
  width: 100%;
  h2 {
    font-size: 34px;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 768px) {
     h2 {
      font-size: 24px;
      margin-bottom: 14px;
      padding: 0 10px;  
    }
  }
  .swiper-container {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    .swiper-pagination-bullet {
      width: 60px;
      height: 5px;
      background: #fff;
      border-radius: 5px;
    }
/*     button {
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 10%;
      height: 9%;
    }
    .btn_detail {
      bottom: 23%;
      background: #f4cf04;
      border: none;
    }
    .btn_more {
      bottom: 30%;
      color: #fff;
      background: transparent;
      border: 1px solid #b8c7e0;
    } */

  }
  // 区块链
  .index_qkl_bg {
    width: 100%;
    background: #f5f6f8;
    .index_qkl {
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 80px;
      // min-height: 620px;    
      p {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 768px) {
        padding-top: 30px;
        p {
          padding: 0 10px;
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 15px;
        }
      }
      .index_qkl_content {
        overflow: hidden;
        padding-bottom: 20px;
        .content_l {
          float: left;
          width: 30%;
          .content_list {
            padding-top: 10px;
            li {
              /* min-width: 250px;*/

              font-size: 24px;
              line-height: 62px;
              color: #424242;
              list-style: disc inside;
            }
          }
          button {
            outline: none;
            cursor: pointer;
            width: 132px;
            height: 48px;
            -moz-border-radius: 24px;
                 border-radius: 24px;
            color: #1fb9ff;
            border: 2px solid #1fb9ff;
            margin-top: 50px;
            background: #fff;
          }
          @media screen and (max-width: 768px) {
            clear: both;
            width: 100%;
            position: relative;
            .content_list {
              padding: 10px;
              li {
                font-size: 14px;
                line-height: 32px;
                color: #424242;
                list-style: disc inside;
              }
            }
            button {
              position: absolute;
              right: 50px;
              bottom: 50px;
              display: block;
              outline: none;
              cursor: pointer;
              width: 132px;
              height: 48px;
              -moz-border-radius: 24px;
              margin: 10px auto;
            }
          }
        }
        .content_r {
          float: left;
          width: 70%;
          @media screen and (max-width: 768px) {
            clear: both;
            width: 100%;
          }
          img {
            display: block;
            margin: 0 auto;
          }
          .content_desc {
            margin-top: 30px;
            list-style-type:none;
            counter-reset:sectioncounter;
            li {
              font-size: 16px;
              line-height: 28px;
              color: #222;
              padding: 0 10px;

            }
            li:before {
              content:counter(sectioncounter) "、"; 
              counter-increment:sectioncounter;
            }
          }
        }
      }
    }
  }
  // 翼购平台
  .index_ygpt_bg {
    width: 100%;
    background: #f5f6f8;  
    .index_ygpt {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 5%;
      .lf_content {
        width: 40%;
      }
      .lf_title {
        margin-bottom: 45px;
        h3 {
          font-size: 24px;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          color: #888;
        }
        button {
          outline: none;
          cursor: pointer;
          width: 132px;
          height: 48px;
          -moz-border-radius: 24px;
               border-radius: 24px;
          color: #1fb9ff;
          border: 2px solid #1fb9ff;
          margin-top: 50px;
          background: #fff;
        }
        .el-button--primary {
          color: #fff;
        }
      }
      .rf_picture {
        width: 60%;
        padding-top: 5%;
        img {
          width: 80%;
          display: block;
          margin: auto;
        }
      }
      @media screen and (max-width:768px) {
        padding-top: 20px;
          .lf_content {
          width: 100%;
        }
      }
    }
  }
  // 翼企购
  .index_yqd {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 500px;
    padding-top: 150px;
    .lf_picture {
      position: relative;
      width: 60%;
      float: left;
      height: 100%;
      margin-bottom: 20px;
      img {
        width: 80%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        /* right: 0;*/
        /* bottom: 0;*/
        margin: auto;
      }
    }
    .rf_desc {
      width: 40%;
      height: 100%;
      float: right;
      .rf_title {
        margin-bottom: 45px;
        h3 {
          font-size: 24px;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          color: #888;
        }
        button {
          outline: none;
          cursor: pointer;
          width: 132px;
          height: 48px;
          -moz-border-radius: 24px;
               border-radius: 24px;
          color: #1fb9ff;
          border: 2px solid #1fb9ff;
          margin-top: 50px;
          background: #fff;
        }
        .el-button--primary {
          color: #fff;
        }
      }
    }
    @media screen and (max-width: 768px) {
      height: auto;
      padding: 0 10px;
      padding-top: 20px;
      height: auto;
      .lf_picture {
        clear: both;
        width: 100%;
        position: static;
        img {
          position: static;
        }
      }
      .rf_desc {
        clear: both;
        width: 100%;
        padding-top: 20px;
        .rf_title {
          margin-bottom:20px;
          h3 {
            font-size: 17px;
          }
          p {
            font-size: 14px;
          }
          button {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
      }
    }
  }
  // 信用租机
  .index_xyzj_bg {
    width: 100%;
    background: #f5f6f8;
    .index_xyzj {
      max-width: 1200px;
      margin: 0 auto;
      min-height: 500px;
      padding-top: 150px;
      .lf_picture {
        float: left;
        width: 60%;
        height: 100%;
        position: relative;
        img {
          width: 80%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          /* right: 0;*/
          /* bottom: 0;*/
          margin: auto;
        }
      }
      .rf_desc {
        float: right;
        width: 40%;
        height: 100%;
        .rf_title {
          margin-bottom: 45px;
          h3 {
            font-size: 24px;
            margin-bottom: 15px;
          }
          p {
            font-size: 18px;
            color: #888;
          }
        }
      }
      @media screen and (max-width: 768px) {
        padding-top: 20px;
        height: auto;
        .lf_picture {
          clear: both;
          width: 100%;
          position: static;
          text-align: center;
          img {
            position: static;
          }
        }
        .rf_desc {
          clear: both;
          width: 100%;
          padding-top: 20px;
          .rf_title {
            margin-bottom: 20px;
            padding: 0 10px;  
            h3 {
              font-size: 17px;
              margin-bottom: 15px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .index_cooperate_bg {
    width: 100%;
    background: #f5f6f8;
    .index_cooperate {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 90px;
      h3 {
        display: inline-block;
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin: 60px 0 90px 0;
      }
      .cooperate_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 250px;
          height: 100px;
          background: #fff;
          margin-bottom: 20px;
          margin-right: 20px;
          position: relative;
          box-sizing: border-box;
          &:hover {
            border: 1px solid #67b6ff;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
      @media screen and (max-width: 768px) {
        padding-bottom: 20px;
        .cooperate_list {
          justify-content: space-around;

          li {
            width: 150px;
            height: 80px;
            margin-right: 0;
            img{
              width: 100%;
            }
          }
        }
        h3 {
          margin: 20px 0;
        }
      }
    }
  }
}
