.about {
	width: 100%;
	.about_desc {
		position: relative;
		width: 100%;
		.about_lamp {
			width: 100%;
			display: block;
		}
		h2 {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
			color: #fff;
			height: 24px;
			font-size: 24px;
			@media screen and (max-width: 768px) {
				font-size: 17px;
			}
		}
	}
	.about_nav {
		/* max-width: 1200px;*/
		/* margin: 0 auto;*/
		.el-tabs__header {
			margin-bottom: 0;
		}
		.el-tabs__nav-scroll {
			max-width: 1200px;
			margin: 0 auto;
			.el-tabs__nav {
				width: 100%;
			}
		}		
	}
}