.jianjie_bg {
	width: 100%;
	background: #f5f6f8;
	.jianjie_img {
		position: relative;
		width: 100%;
		.about_lamp {
			width: 100%;
			display: block;
		}
		h2 {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
			color: #fff;
			height: 24px;
			font-size: 24px;
			@media screen and (max-width: 768px) {
				font-size: 17px;
			}
		}
	}
	.jianjie {
		max-width: 1200px;
		margin: 0 auto;
		padding:50px 0;
		p{
			font-size: 16px;
			line-height: 28px;
			text-indent: 2em;
		}
		h5{
			margin: 20px 0;
			font-size: 20px;
		}
		@media screen and (max-width: 768px) {
			padding: 20px 0;
			p {
				padding: 0 10px;
				text-indent: 10%;
			}
		}
		/* .certificate {
			text-align: center;
			margin-top: 34px;
			img {
				width: 80%;
			}
		} */
	}
}
.ly_event_bg {
	width: 100%;
	background: #fff;
	.ly_event {
		max-width: 1200px;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 100px;
		position: relative;
		@media screen and (max-width: 768px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		h1 {
			text-align: center;
			color: #0579cb;
			font-size: 28px;
			line-height: 68px;
			border-bottom: 2px solid #ebebeb;
			position: relative;
		}
		h1:after {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			background: #ddd;
			position: absolute;
			bottom:-5px;
			left: 0;
			right: 0;
			margin: auto;
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); 	/* IE 9 */
			-moz-transform:rotate(45deg); 	/* Firefox */
			-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
			-o-transform:rotate(45deg); 	/* Opera */
		}
		.event_list:before {
			content: " ";
		    position: absolute;
		    width: 1px;
		    top: 0;
		    bottom: 0;
		    left: 32.5%;
		    background: #dfdfdf;
		}
		.event_list {
			margin-top: 44px;
			position: relative;
			.event_years {
				text-align: left;
				position: relative;
				left: 20%;
				font-size: 22px;
				color: #0579cb;
				@media screen and (max-width: 768px) {
					left: 0;
					text-indent: 10%;
				}
			}
			li {
				text-align: center;
				width: 100%;
				overflow: hidden;
				font-size: 15px;
				line-height: 37px;
				color: #444;
				.event_circle {
					width: 16px;
					height: 16px;
					background: #fff;
					-moz-border-radius: 50%;
					     border-radius: 50%;
					position: absolute;
					margin-left: -7px;
					margin-top: 11px;
					left: 32.5%;
					.event_circle_color {
						width: 8px;
						height: 8px;
						border: 2px solid #ddd;
						background: #fff;
						-moz-border-radius: 50%;
						     border-radius: 50%;
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto;
					}
				}
				.event_months {
					float: left;
					width: 30%;
					text-align: right;
				}
				.event_item {
					float: left;
					width: 70%;
					text-align: left;
					padding-left: 5%;
					box-sizing:border-box;
					-moz-box-sizing:border-box; /* Firefox */
					-webkit-box-sizing:border-box; /* Safari */
					.keyword {
						color: #0579cb;
					}
				}
			}
		}
	}
}