body, html, p, h1, h2, h3, ul, li{
	padding: 0;
	margin: 0;
	}
html, body{
	width: 100%;
	font-size: 14px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
@media screen and (max-width:768px) {
	.lf {
		clear: both;
	}
	.rf {
		clear: both;
	}
}
.lf {
	float: left;
}
.rf {
	float: right;
}

.mx-home{

	overflow: auto;
	
	@media screen and (max-width: 320px) {
		width: 320px;
	}
	width: 100%;


	.mx-header{
		width: 100%;
		@media screen and (max-width: 320px) {
			width: 320px;
		}
		
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background: #fff;
		border-bottom: 1px solid #ddd;

		.header_bg {
			max-width: 1200px;
			margin: 0 auto;
			height: 60px;
			.logo {
				height: 100%;
				img {
					display: block;
					margin-top: 10px;
				}
			}
			.el-menu-demo {
				width: 100%;
				height: 100%;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				   -moz-box-orient: horizontal;
				   -moz-box-direction: normal;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-box-pack: justify;
				   -moz-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				background: #fff;
				.el-menu-item {
					padding: 0 10px;
				}
				.el-menu-item:hover {
				    border-bottom: 5px solid #20a0ff!important;
				}
				.is-active {
				    /* color: #fff;*/
				    border-bottom: 5px solid #20a0ff;
				}
			}
			@media screen and (max-width: 768px) {
				height: 50px;
				.logo {
					height: 100%;
					img {
						display: block;
						margin-top: 5px;
						margin-left: 20px;
					}
				}
				.el-menu-demo {
					width: 100%;
					height: 100%;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					   -moz-box-orient: horizontal;
					   -moz-box-direction: normal;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-box-pack: justify;
					   -moz-box-pack: justify;
					    -ms-flex-pack: justify;
					        justify-content: space-between;
					background: #fff;
					.el-menu-item {
						padding: 0 10px;
					}
					.el-menu-item:hover {
					    border-bottom: 5px solid #20a0ff!important;
					}
					.is-active {
					    /* color: #fff;*/
					    border-bottom: 5px solid #20a0ff;
					}
				}
				.navIcon {
					display: inline-block;
					float: right;
					height: 50px;
					line-height: 50px;
					width: 120px;
					text-align: center;
				}
				.el-dropdown-menu {
					width: 100%!important;
					position: fixed;
				}	
			}

		}	
	}
	.section {
		margin-top: 60px;
		@media screen and (max-width: 768px) {
			margin-top: 50px;
			width: 100%;
		}
	}

} 